<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to console -->
    <target xsi:type="ColoredConsole" name="Console"
            detectConsoleAvailable="true"
            detectOutputRedirected="false"
            useDefaultRowHighlightingRules="false"
            encoding="utf-8"
            layout="${longdate}|${logger}|${level:uppercase=false}|${message}${onexception:${newline}${exception:format=tostring}${newline}${stacktrace}}">
      <highlight-row condition="level == LogLevel.Trace" backgroundColor="White" foregroundColor="DarkGray"/>
      <highlight-row condition="level == LogLevel.Debug" backgroundColor="White" foregroundColor="DarkBlue"/>
      <highlight-row condition="level == LogLevel.Info" backgroundColor="Green" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Warn" backgroundColor="Magenta" foregroundColor="DarkYellow"/>
      <highlight-row condition="level == LogLevel.Error" backgroundColor="Gray" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" backgroundColor="Gray" foregroundColor="DarkRed"/>
    </target>


    <!-- write logs to file -->
    <!--单文件日志，不建议使用-->
    <target xsi:type="File" name="File"
        fileName="./log"
        encoding="utf-8"
        layout="${longdate}|${logger}|${level:uppercase=false}|${message}${onexception:${newline}${exception:format=tostring}${newline}${stacktrace}}">
    </target>

    <!--多文件日志-->
    <target xsi:type="File" name="RollingFile"
            fileName="./logs/${date:format=yyyyMMdd}.log"
            archiveNumbering="Sequence"
            archiveAboveSize="104857600"
            encoding="utf-8"
            layout="${longdate}|${logger}|${level:uppercase=false}|${message}${onexception:${newline}${exception:format=tostring}${newline}${stacktrace}}">
    </target>

    <!--多文件日志（分级别）-->
    <target xsi:type="File" name="RollingFile_Level"
            fileName="./logs/${uppercase:${level}}/${date:format=yyyyMMdd}.log"
            archiveNumbering="Sequence"
            archiveAboveSize="104857600"
            encoding="utf-8"
            layout="${longdate}|${logger}|${level:uppercase=false}|${message}${onexception:${newline}${exception:format=tostring}${newline}${stacktrace}}">
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="ColoredConsole" />
    <logger name="*" minlevel="Info" writeTo="RollingFile" />
    <logger name="*" minlevel="Info" writeTo="RollingFile_Level" />
  </rules>
</nlog>