<?xml version="1.0" encoding="utf-8"?>
<databaseManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  primary="test">
  <database name="test">
    <config id="1">
      <dbType>MySql</dbType>
      <connectionString>server=localhost;port=3306;user=root;password=qinsoft.mysql;persistsecurityinfo=true;database=qinsoft;charset=utf8mb4;pooling=true;</connectionString>
      <slave hitRate="1">
        <connectionString>server=localhost;port=3307;user=root;password=qinsoft.mysql;persistsecurityinfo=true;database=qinsoft;charset=utf8mb4;pooling=true;</connectionString>
      </slave>
    </config>
  </database>

  <database name="ch_test">
    <config id="1">
      <dbType>ClickHouse</dbType>
      <connectionString>host=localhost;port=8123;username=root;password=qinsoft.ch;database=qinsoft;</connectionString>
    </config>
  </database>
</databaseManager>
