<?xml version="1.0" encoding="utf-8"?>
<databaseManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  primary="test">
  <database name="test">
    <config id="1">
      <dbType>MySql</dbType>
      <connectionString>server=172.16.97.18;user id=root;password=mysql@2019;persistsecurityinfo=True;database=EMChat2;charset=utf8;pooling=false;</connectionString>
      <slave hitRate="1">
        <connectionString>server=172.16.97.18;user id=root;password=mysql@2019;persistsecurityinfo=True;database=EMChat2;charset=utf8;pooling=false;</connectionString>
      </slave>
    </config>
  </database>
</databaseManager>
