<?xml version="1.0" encoding="utf-8"?>
<elasticsearchManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <elasticsearch name="test">
    <url>http://localhost:9200/</url>
    <username>root</username>
    <password>qinsoft.es</password>
    <indexName>_default</indexName>
  </elasticsearch>
</elasticsearchManager>
