<?xml version="1.0" encoding="utf-8"?>
<elasticsearchManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <elasticsearch name="test">
    <url>172.31.231.132:9092</url>
    <url>172.31.231.132:9092</url>
  </elasticsearch>
</elasticsearchManager>
