<?xml version="1.0" encoding="utf-8"?>
<elasticsearchManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <elasticsearch name="test" username="elastic" password="123123" indexName="_default">
    <url>http://localhost:9200/</url>
  </elasticsearch>
</elasticsearchManager>
