<?xml version="1.0" encoding="utf-8"?>
<influxdbManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <influxdb name="test">
    <url>http://localhost:8086</url>
    <token>etxV9rUs4sA4AXjTdZHE9Ku5a7ehid0lYs6MdhA6-klHJ5QCl_iJoIw-VDDb6vWE-kIw1JOtqpznluVfKMHs8Q==</token>
    <org>qinsoft</org>
    <bucket>qinsoft</bucket>
  </influxdb>
</influxdbManager>
