<?xml version="1.0" encoding="utf-8"?>
<localManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <local name="test">
    <!--<sizeLimie>10000</sizeLimie>
    <compactionPercentage>0.05</compactionPercentage>
    <expirationScanFrequency>00:01:00</expirationScanFrequency>-->
  </local>
</localManager>
