<?xml version="1.0" encoding="utf-8"?>
<mongodbManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <mongodb name="test">
    <connectionString>mongodb://admin:qinsoft.mongo@localhost:20000/admin</connectionString>
    <defaultDBName>qinsoft</defaultDBName>
  </mongodb>
</mongodbManager>
