<?xml version="1.0" encoding="utf-8"?>
<mongoDBManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <mongodb name="test">
    <connectionString>mongodb://crm:crm$RFV5tgb@172.31.231.158:27017/CRM</connectionString>
    <database>CRM</database>
  </mongodb>
</mongoDBManager>
