<?xml version="1.0" encoding="utf-8"?>
<mqttManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <mqtt name="test">
    <ip>172.16.10.138</ip>
    <port>1884</port>
    <username>admin</username>
    <password>admin</password>
  </mqtt>
</mqttManager>
