<?xml version="1.0" encoding="utf-8"?>
<params xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <param key="CurrentEnv">Dev</param>
	<param key="CurrentIDC">B</param>
	<param key="AvailableIDCs">B</param>
  <param key="AccreditationUri">http://172.31.225.27</param>
</params>
