<?xml version="1.0" encoding="utf-8"?>
<rabbitMQManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <rabbitMQ name="test">
    <hostname>localhost</hostname>
    <port>5672</port>
    <virtualHost>/qinsoft</virtualHost>
    <username>root</username>
    <password>qinsoft.rmq</password>
  </rabbitMQ>
</rabbitMQManager>
