<?xml version="1.0" encoding="utf-8"?>
<redisManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  primary="test">
  <redis name="test" poolSize="10">
    <endPoints>
      <endPoint>localhost:6379</endPoint>
      <endPoint>localhost:6380</endPoint>
      <endPoint>localhost:6381</endPoint>
    </endPoints>
    <password>qinsoft.redis</password>
    <defaultDatabase>1</defaultDatabase>
    <!--哨兵模式-->
    <!--
    <sentinel>
      <serviceName>mymaster</serviceName>
      <endPoints>
        <endPoint>localhost:16379</endPoint>
        <endPoint>localhost:26379</endPoint>
        <endPoint>localhost:36379</endPoint>
      </endPoints>
    </sentinel>
    -->
  </redis>
</redisManager>
