<?xml version="1.0" encoding="utf-8"?>
<cacheManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  primary="test">
  <cache name="test" poolSize="10">
    <configuration>172.31.231.122:6379,password=devnj,defaultDatabase=15</configuration>
    <backups>
      <backup>
        <configuration>172.16.97.18:6379</configuration>
      </backup>
    </backups>
  </cache>
</cacheManager>
