<?xml version="1.0" encoding="utf-8"?>
<zookeeperManager xmlns="http://www.qinsoft.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" primary="test">
  <zookeeper name="test">
    <connectionString>localhost:12181,localhost:12182</connectionString>
    <sessionTimeout>5000</sessionTimeout>
    <authInfo>
        <schema>digest</schema>
        <auth>root:qinsoft.zk</auth>
    </authInfo>
  </zookeeper>
</zookeeperManager>
