<?xml version="1.0" encoding="utf-8"?>
<configManager xmlns="http://www.qinsoft.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <config name="ParamsConfig" path="dev/Params.config"/>
  <config name="LocalCacheManagerConfig" path="dev/LocalCacheManager.config"/>
  <config name="RedisCacheManagerConfig" path="dev/RedisCacheManager.config"/>
  <config name="DatabaseManagerConfig" path="dev/DatabaseManager.config"/>
  <config name="MongoDBManagerConfig" path="dev/MongoDBManager.config"/>
  <config name="KafkaManagerConfig" path="dev/KafkaManager.config"/>
  <config name="ElasticsearchManagerConfig" path="dev/ElasticsearchManager.config"/>
  <config name="ZookeeperManagerConfig" path="dev/ZookeeperManager.config"></config>
</configManager>
