<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="NjLog" type="QinSoft.Core.Log.NjLog.Appender.TcpAppender,QinSoft.Core.Log">
    <RemoteAddress value="127.0.0.1" />
    <RemotePort value="7777" />
    <Encoding value="UTF-8" />
    <MemorySize value="2048" />
    <ConnInterval value="15" />
    <layout type="QinSoft.Core.Log.NjLog.Layout.NjLogLayout,QinSoft.Core.Log">
      <projectCode value="[dev]nj2_common" />
      <appCode value="QinSoft.Core.Test" />
      <logVer value="1.0" />
    </layout>
  </appender>

  <root>
    <level value="Info"/>
    <appender-ref ref="NjLog"/>
  </root>
</log4net>